@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
:root {
  --color1: #182037;
  --color2: #fd2457;
  --color3: #6d1d47;
}
.App {
  font-family: "Audiowide", cursive;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-color: var(--color1);
  background-size: cover;
  color: white;
}
h1 {
  font-size: 40px;
  padding: 2rem;
}
input {
  background-color: var(--color1);
  border: none;
  color: var(--color2);
  font-size: 20px;
}
img {
  display: none;
  margin: auto;
  width: 20%;
  height: 30%;
}

#box {
  width: 50%;
  margin: auto;
  padding: 2rem;
}
